<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    <title>Regex101</title>
</head>

<body>
    <h1>
        REGREX CLONE
    </h1>


    <div class="form">

        <form action="" method="POST">
            <label for="expression">Regex String :</label>
            <input type="text" name="expression" id="expression">
            <br>
            <br>
            <label for="find_string">Match String :</label>
            <input type="text" name="find_string" id="find_string">
            <br>
            <button type="submit" class="button">Submit</button>
        </form>
    </div>

    <ul>
        {% for word in m %}
        <h2>Match Found : {{word.group()}}</h2>
        {%endfor%}
    </ul>

</body>

</html>